<div class="theme-menu dropdown mx-1"> 
    <div class="action flex all">
        {{ if or ( eq .Site.Params.base_model.helps "icon" ) ( eq .Site.Params.base_model.helps "both" ) ( eq .Site.Params.base_model.helps "menu" ) }}
            <img src="{{ .Site.BaseURL }}/glyph/icons/general/dark-theme.svg" class="icons" width="24" height="24" alt="dark mode icons">
        {{ end }}
        {{ if or ( eq .Site.Params.base_model.helps "text" ) ( eq .Site.Params.base_model.helps "both" ) ( eq .Site.Params.base_model.helps "menu" ) }}
            <p class="title no-space ml-1">{{- T "appearance_menu" -}} </p>
        {{ end }}
        {{ if eq .Site.Params.base_model.helps "menu" }}
            <img src="{{ .Site.BaseURL }}/glyph/icons/general/right-arrow.svg" class="icons ml-1" width="14" height="14" alt="dark mode icons">
        {{ end }}
    </div>
    <div class="menu d-hide">
        <div class="item" data-themeset="auto"><span class="check"></span>  Automatic </div>
        <div class="item" data-themeset="dark"><span class="check"></span>  Dark Theme </div>
        <div class="item" data-themeset="light"><span class="check"></span> Light Theme </div>
    </div>
</div>