<!-- setups script cores  -->
{{ partial "recores/corehook" . }}

<!-- setups script cores  -->
{{ partial "packscript" ( dict "ctx" . "config" .Site.Params.recores.assets "module" "recores" ) }}

<!-- render metadata cores -->
{{- partial "recores/metadata/_loader" .  -}}

<!-- render critical styles -->
{{ $styles := partial "get-script" ( dict "ctx" . "hook" "based_head_styles" ) }}
{{ with $styles }}<style>{{ $styles.Content | safeCSS }}</style>{{ end }}

<!-- render critical script -->
{{ $script := partial "get-script" ( dict "ctx" . "hook" "based_head_script" ) }}
{{ with $script }}<script>{{ $script.Content | safeJS }}</script>{{ end }}