<!-- lottie player -->
{{ if .Page.Params.animax }}
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js" defer></script>
{{ end }}

<!-- based styles -->
{{ $styles := resources.Get "styles/main.scss" | resources.ExecuteAsTemplate "main.css" . | toCSS | minify |  fingerprint }}
<link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">

<!-- based scripts -->
{{ $scripts := resources.Get "scripts/main.js" | js.Build "scripts/main.js" | resources.ExecuteAsTemplate "main.js" . |  minify |  fingerprint  }}
<script id="main-jsx" src="{{ $scripts.Permalink }}" integrity="{{ $scripts.Data.Integrity }}" defer type="module"></script>

