.no-image {
    background-color: #eee;
    color: #777;
    border-radius: 10px;
    max-width: 720px;
    aspect-ratio: 2 / 1;
}   
.fw-600 {
    font-weight: 600;
}
.flex-all {
    display: flex;
    align-items: center;
    justify-content: center;
}
