<div id="disqus-thread"></div>
<script type="text/javascript">
    (function() {
        // Disable disqus at localhost:1313
        if (window.location.hostname == "localhost") {
            return;
        }
        let disqus = document.createElement('script'); 
        let unique = '{{ .Site.Config.Services.Disqus.Unique }}';
        let target = document.getElementsById('base-jsx');

        disqus.type  = 'text/javascript';
        disqus.defer = true;
        disqus.src   = '//' + unique + '.disqus.com/embed.js';
        target.appendChild(disqus)
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
