<!doctype html>
<html lang="{{ site.Language.Lang }}" data-mode="auto">
	<head>
		{{- partial "linkers/metadata" . -}}
		<!-- style and script -->
		{{- block "head_script" . -}}{{- end -}}
		{{- partial "linkers/scripter" . -}}
	</head>
	<body id="pagetop" class="page-{{ .Kind }}{{ with.Section }} {{ . }}{{ end }}{{ with .Site.Params.layout.model }} {{ . }}{{ end }}">
		{{- partial "based/header" . }}
		<main class="content">
			{{- block "main" . }}{{ end }}
		</main>
		{{- partial "linkers/footlink" . }}
	</body>
</html>