{{- $scripter := slice -}}
{{- block "head_assets" . -}}{{- end -}}
{{- block "foot_assets" . -}}{{- end -}}
<!doctype html>
<html lang="{{ site.Language.Lang }}" data-mode="auto">
	<head>
		{{- partial "_based/protos/critical" . -}}
	</head>
	<body id="pagetop" class="page-{{ .Kind }}{{ with.Section }} {{ . }}{{ end }}{{ with .Site.Params.layout.model }} {{ . }}{{ end }}">
		{{- partial "based/header" . }}
		<main class="content">
			{{- block "main" . }}{{ end }}
		</main>
		{{- partial "based/footer" . }}
 		{{- partial "_based/protos/defers" . }}
	</body>
</html>