$scale: 1.414;

html{
    font-size: 95%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;

    @media screen and (min-width:  var( --media-lg ) ) {
        font-size: 100%;
    }
    
    @media screen and (min-width: var( --media-xl ) ) {
        font-size: 115%;
    }
}



/* font */
h1, h2, h3, h4, h5, h6, a {
    color: var(--text-primary);
    overflow-wrap: break-word;
    line-height: 1.45;
}
h1 {
    font-size: $scale * 1rem;
} 
h2 {
    font-size: ($scale / 1.2) * 1rem;
} 
h3 {
    font-size: ($scale / 1.44) * 1rem;
} 
h4{
    font-size: 1.5rem;
} 
h5 {
    font-size: ($scale / 1.728) * 1rem;
}
h6 {
    font-size: ($scale / 1.926) * 1rem;
} 

p {
    color: var(--text-body);
    overflow-wrap: break-word;
    line-height: 1.33;
    margin: .8em 0;
}

/* function */
.no-decor {
    text-decoration: none;
}