/* layouts */
.grid {
    display: grid;
}
.flex {
    display: flex;
}
.align-a {
    align-items: center;
    justify-items: center;
}
.align-h {
    justify-items: center;
}
.align-v {
    align-items: center;
}
.d-block {
    display: block;
}
.d-hide {
    z-index: -1;
    opacity: 0;
    position: fixed;
    visibility: hidden;
}
.d-none {
    display: none;
}
.wrap {
    margin: 0 auto;
    @media ( max-width: $media-xs ), ( min-width: $media-xs )  {
        width: calc( 100vw - 20px);
    }
    @media ( min-width: $media-sm )  {
        width: 94vw;
    }
}

body.noscroll {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: absolute;
}

/** background */
.bg-asset {
    width: 100%;
    max-width: 100%;
    position: absolute;
}

.d-blur,
.d-blur::before {
    z-index: -10;
    filter: blur(10px);
    backdrop-filter: blur(33px);
    box-shadow: inset 0 0 2000px rgba(0, 0, 0, 0.5);
    transform: scale(1.2);
}

.d-blur::before{
    content: '';
}


/* button */
.btn {
    font-size: 1rem;
    line-height: 1.45;
    margin-right: 10px;
    text-decoration: none;
    padding: .7rem 1.75rem;
    border: var(--br-primer);
    color: var(--text-primary);
}

.btn-primary {
    background: var(--btn-primer);
    border: 0;
}


/** modals */
.modals {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}