/* media queries
––––––––––––––––––––––––––––––––––––––––––––––––– 
    Note: The best way to structure the use of media queries is to create the queries
    near the relevant code. For example, if you wanted to change the styles for buttons
    on small devices, paste the mobile query code up in the buttons section and style it
    there.

    1. media-xs   : 420px;
    2. media-sm   : 768px;
    3. media-md   : 992px;
    4. media-lg   : 1200px;
    5. media-xl   : 1400px;
    6. media-gx   : 1956px;

*/


// Base And Normalization Styles 
// html is set to 62.5% so that all the REM measurements throughout Skeleton are based on 10px sizing. So basically 1.5rem = 15px :)


html {
   // coloring
   --color-back-1 : #fff;
   --color-back-2 : linear-gradient(65deg, #e6e6e6 0, #ffffff 100%);
   --color-back-3 : linear-gradient(65deg, #e6e6e6 0, #ffffff 100%);

   --color-text-1 : #000;
   --color-text-2 : #222;
   --color-text-3 : #222;


   --color-link-1 : #1e55db;

   --color-line-1 : rgb(0 0 0 / 15%);
   --color-line-2 : rgb(0 0 0 / 15%);
   --color-line-3 : rgb(0 0 0 / 15%);

   --color-primer : linear-gradient(65deg, #0270D7 0, #0F8AFD 100%);
   --color-second : linear-gradient(65deg, #0270D7 0, #0F8AFD 100%);
   --color-accent : linear-gradient(65deg, #0270D7 0, #0F8AFD 100%);
   --color-warned : linear-gradient(65deg, #0270D7 0, #0F8AFD 100%);
   --color-danger : linear-gradient(65deg, #0270D7 0, #0F8AFD 100%);
   --color-inform : linear-gradient(65deg, #0270D7 0, #0F8AFD 100%);
   --color-succes : linear-gradient(65deg, #0270D7 0, #0F8AFD 100%);

   --br-primer : 1px solid var( --color-line-1 );
}


html[data-mode='dark'] {

   --color-back-1 : #242830;
   --color-back-2 : linear-gradient(75deg, #2c2e40 0, #2c3346 100%);
   --color-back-3 : linear-gradient(75deg, #21282e 0, #1b202b 100%);

   --color-hover-2 : linear-gradient(75deg, #3441b9 0, #335acd 100%);

   --color-text-1 : #fff;
   --color-text-2 : #dee4ef;
   --color-text-3 : #8A94A7;

   --color-link-1 : #7f9eff;

   --color-line-1 : rgb(255 255 255 / 15%);
   --color-line-2 : rgb(255 255 255 / 15%);
   --color-line-3 : rgb(255 255 255 / 15%);

   --color-primer : linear-gradient(65deg, #0270D7 0, #0F8AFD 100%);
   --color-second : linear-gradient(65deg, #0270D7 0, #0F8AFD 100%);
   --color-accent : linear-gradient(65deg, #0270D7 0, #0F8AFD 100%);
   --color-warned : linear-gradient(65deg, #0270D7 0, #0F8AFD 100%);
   --color-danger : linear-gradient(65deg, #0270D7 0, #0F8AFD 100%);
   --color-inform : linear-gradient(65deg, #0270D7 0, #0F8AFD 100%);
   --color-succes : linear-gradient(65deg, #0270D7 0, #0F8AFD 100%); 


   --br-primer : 1px solid var( --color-line-1 );
}



*, *::before, *::after {
   margin:0;
   box-sizing: inherit;
}

#root, #__next {
   isolation: isolate;
}

html{
   box-sizing: border-box;
   overflow-x: hidden;
   touch-action: manipulation;
}

body{
	color: #222; 
   font-family: sans-serif; 				
   -ms-text-size-adjust: 100%; 			
   -webkit-text-size-adjust: 100%; 	
}

body {
	color: var(--color-text-1);
   font-size: 1.095em;
   background: var(--color-back-1);
   font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
   transition: background .3s, color .1s;
}