/* media */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
.fluid {
    width: 100%;
}
.onload {
    width: 100%;
    overflow: hidden;
    position: relative;
    img,
    video,
    iframe,
    .audiobox{
        border: 0;
        opacity: 0;
    }
}

.onload.loaded{
    img,
    video,
    iframe,
    .audiobox{
        opacity: 1;
        transition: opacity .5s linear .5s; 
    }
}

.onload {
    width: 100%;
    aspect-ratio: 16 / 9;
    border: var(--br-primer);
    background: var(--color-back-3);
}

.landscape { 
    position: relative;
    overflow: hidden;
    aspect-ratio: 16 /9;
    video {
        height: 100%;
        object-fit: cover; 
    }
    iframe {
        height: 100%;
    }
}
.portrait {
    iframe{
        height: 100%;
    }
}
