<!-- GLOBAL -->

{{ $title := "" }}
{{ if .Title }}{{- $title = .Title -}}{{ end }}


{{- $source := .Destination | safeURL -}}

{{ $alters := "" }}
{{ if .Text }}{{- $alters = .Text  -}}{{ end }}

{{ $page := "" }}
{{ if .Page }}{{- $page = .Page -}}{{ end }}



<!-- anima template -->
{{ with ( eq ".lottie" ( path.Ext $source ) ) }}
    {{ partial "modul/medirack/anima" ( dict "contex" . "source" $source "covers" $alters "title" $title  ) }}
{{ end }}


<!-- audio template -->
{{- $audioxt := slice ".wav" ".ogg"  ".mp3"  ".flac"  -}}
{{ with (  in $audioxt ( path.Ext $source ) ) }}
    {{ partial "modul/medirack/audio" ( dict "contex" . "source" $source "covers" $alters  "title" $title  ) }}
{{ end }}


<!-- docus template -->
{{ with ( eq ".pdf" ( path.Ext $source ) ) }}
    {{ partial "modul/medirack/docus" ( dict "contex" . "source" $source "covers" $alters  "title" $title  ) }}
{{ end }}


<!-- godoc template -->
{{ with ( strings.Contains  $source "docs.google.com/document" ) }}
    {{ partial "modul/medirack/godoc" ( dict "contex" . "source" $source "covers" $alters  "title" $title  ) }}
{{ end }}


<!-- gopdf template -->
{{ with ( strings.Contains $source "drive.google.com/file" ) }}
    {{ partial "modul/medirack/gopdf" ( dict "contex" . "source" $source "covers" $alters  "title" $title  ) }}
{{ end }}


<!-- goppt template -->
{{ with ( strings.Contains $source "docs.google.com/presentation" ) }}
    {{ partial "modul/medirack/gopdf" ( dict "contex" . "source" $source "covers" $alters  "title" $title  ) }}
{{ end }}


<!-- goxls template -->
{{ with ( strings.Contains $source "docs.google.com/spreadsheets" ) }}
    {{ partial "modul/medirack/goxls" ( dict "contex" . "source" $source "covers" $alters  "title" $title  ) }}
{{ end }}


<!-- image template -->
{{- $imagext := slice ".png" ".webp" ".svg"  ".jpg"  -}}
{{ with ( in $imagext ( path.Ext $source ) ) }}
    {{ partial "modul/medirack/image" ( dict "contex" . "source" $source "caption" $alters  "title" $title  ) }}
{{ end }}


<!-- soundcloud template -->
{{ with ( strings.Contains $source "https://w.soundcloud.com/player/" ) }}
    {{ partial "modul/medirack/sclod" ( dict "contex" . "source" $source "covers" $alters  "title" $title  ) }}
{{ end }}


<!-- video template -->
{{- $videoxt := slice ".mp4" ".flv"  ".webm" ".m3u8" -}}
{{ with ( in $videoxt ( path.Ext $source ) ) }}
    {{ partial "modul/medirack/goxls" ( dict "contex" . "source" $source "covers" $alters  "title" $title  ) }}
{{ end }}


<!-- vimeo template -->
{{ with ( strings.Contains $source "vimeo.com" ) }}
    {{ partial "modul/medirack/sclod" ( dict "contex" . "source" $source "covers" $alters  "title" $title  ) }}
{{ end }}



<!-- youtube template -->
{{ with ( strings.Contains $source "youtube.com" ) }}
    {{ partial "modul/medirack/sclod" ( dict "contex" . "source" $source "covers" $alters  "title" $title  ) }}
{{ end }}