<!-- global  - general config -->
{{- $resizer := slice "320" "480" "640" "768" "960" "1280" "1536" -}}
{{- $stylerc := "lazy-load flex-c round-10" }}
{{- $mediawd := "100vw" -}}

<!-- global  - video variable -->
{{- $vformat := slice "mp4" "flv" "webm" "avi" "mkv"  -}}
{{- $vsource := slice "youtube.com" "vimeo.com" "drive.google.com" -}}


<!-- global  - image variable -->
{{- $pformat := slice "png" "webp" "jpeg" "svg" "jpg" -}}
{{- $psource := slice "pixabay.com/" "unsplash.com/" "pexels.com" -}}


<!-- proces - link resources -->
{{- $pathsrc := .Destination | safeURL }}
{{- $typesrc := "" }}
{{- if strings.Contains $pathsrc "http" -}}
    {{ range $vsource }}
        {{ if strings.Contains $pathsrc . }}
            {{ $typesrc = "vid_embed" }}
        {{ end }}
    {{ end }}
    {{ range $psource }}
        {{ if strings.Contains $pathsrc . }}
            {{ $typesrc = "img_embed" }}
        {{ end }}
    {{ end }}
{{- else -}}
    {{ range $vformat }}
        {{ if strings.Contains $pathsrc . }}

            <!-- set type of media -->
            {{ $typesrc = "vid_local" }}

            <!-- set resource of media -->
            {{ if resources.GetMatch ( print "videos/" $pathsrc ) }}
                {{- $pathsrc = resources.GetMatch ( print "videos/" $pathsrc ) }}
            {{ else if .Page.Resources.GetMatch .Destination }}
                {{- $pathsrc = .Page.Resources.GetMatch .Destination }}
            {{ end }}

        {{ end }}
    {{ end}}
    {{ range $pformat }}
        {{ if strings.Contains $pathsrc . }}

            <!-- set type of media -->
            {{ $typesrc = "img_local" }}

            <!-- set resource of media -->
            {{ if resources.GetMatch ( print "images/" $pathsrc ) }}
                {{- $pathsrc = resources.GetMatch ( print "images/" $pathsrc ) }}
            {{ else if .Page.Resources.GetMatch .Destination }}
                {{- $pathsrc = .Page.Resources.GetMatch .Destination }}
            {{ end }}
        {{ end }}
    {{ end}}
{{- end -}}

<p>{{ $typesrc }}</p>
<p>{{ $pathsrc }}</p>