<!-- GLOBAL -->
{{- $medsize := slice "576" "768" "992" "1200" "1400" -}}
{{- $getlink := .Destination | safeURL }}
{{- $pathsrc := .Page.Resources.GetMatch $getlink }}
{{- $stylerc := "lazy-load flex-c round-10" }}
{{- $mediawd := "100vw" -}}
{{- $srctype := "" }}


<!-- RENDER -->
{{- if or ( strings.Contains $getlink "png" ) ( strings.Contains $getlink "webp" ) ( strings.Contains $getlink "jpeg" ) ( strings.Contains $getlink "jpg" ) ( strings.Contains $getlink "svg" ) -}}

    <!-- render image -->
    {{ if strings.Contains $getlink "http" }}
        {{ $pathsrc = $getlink }}
    {{ else if resources.GetMatch ( print "images/" $getlink ) }}
        {{ $pathsrc = resources.GetMatch ( print "images/" $getlink ) }}
    {{ else if $pathsrc }}
        {{ $pathsrc = $pathsrc }}
    {{ else }}
        {{ $pathsrc = "/icons/no-image.svg" }}
    {{ end }}

    local images


{{- else if or ( strings.Contains $getlink "mp4" ) ( strings.Contains $getlink "flv" ) ( strings.Contains $getlink "avi" ) ( strings.Contains $getlink "mkv" )  }}

    <!-- render video -->
    {{ if strings.Contains $getlink "http" }}
        {{ $pathsrc = $getlink }}
    {{ else if resources.GetMatch ( print "videos/" $getlink ) }}
        {{ $pathsrc = resources.GetMatch ( print "videos/" $getlink ) }}
    {{ else if $pathsrc }}
        {{ $pathsrc = $pathsrc }}
    {{ else }}
        {{ $pathsrc = "/icons/no-image.svg" }}
    {{ end }}

     <!-- render video -->
     <div class="video-lazy vidwrap" data-poster="{{ .Title }}" data-src="{{ $pathsrc }}">

        <!-- 
        <video width="759" height="427" poster="{{ .Title }}" preload="none" controls>
            {{ if strings.Contains $pathsrc "mp4" }}
                <source src="{{ $pathsrc }}" type="video/mp4">
            {{ end }}
            {{ if strings.Contains $pathsrc "flv" }}
                <source src="{{ $pathsrc }}" type="video/flv">
            {{ end }}
        </video>
         -->
    </div>

{{- else if strings.Contains $getlink ".pdf" -}}

    <!-- render pdf -->
    {{ if strings.Contains $getlink "http" }}
        {{ $pathsrc = $getlink }}
    {{ else if resources.GetMatch ( print "docus/" $getlink ) }}
        {{ $pathsrc = resources.GetMatch ( print "docus/" $getlink ) }}
    {{ else }}
        {{ $pathsrc = "/icons/no-image.svg" }}
    {{ end }}

    <div class="media-lazy embeds-pdf" data-src="{{ $pathsrc }}">
        <iframe src="{{ $pathsrc }}" width="100%" height="480" allow="autoplay"></iframe>
    </div>


{{- else if strings.Contains $getlink "youtube.com"  }}

    <!-- youtube embed -->
    {{ $pathsrc = strings.Replace $getlink "watch?v=" "embed/" }}

    <div class="media-lazy vidwrap">
        <iframe src="{{ $pathsrc }}" width="759" height="427" frameborder="0" loading=lazy allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    </div>

{{- else if strings.Contains $getlink "vimeo.com"  }}

    <!-- vimeo embed -->
    {{ $pathsrc = $getlink }}

    <div class="media-lazy vidwrap">
        <iframe src="{{ $pathsrc }}" width="759" height="427" frameborder="0" loading=lazy allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    </div>

{{- else if strings.Contains $getlink "docs.google.com/document" }}

    <!-- google document embed -->
    {{ $pathsrc = print $getlink "?embedded=true" }}

    <div class="media-lazy google-doc" data-src="{{ $pathsrc }}">
        <iframe src="{{ $pathsrc }}" width="100%" height="480"></iframe>
    </div>
   
{{- else if strings.Contains $getlink "docs.google.com/spreadsheets"  -}}

    <!-- google spreadsheets embed -->
    {{ if strings.Contains $getlink "gid=" }}
        {{ $pathsrc = print $getlink "&widget=true&headers=false" }}
    {{ else }}
        {{ $pathsrc = print $getlink "?widget=true&headers=false" }}
    {{ end }}

    <div class="media-lazy google-xls" data-src="{{ $pathsrc }}">
        <iframe src="{{ $pathsrc }}" width="100%" height="480" ></iframe>
    </div>
   

{{- else if strings.Contains $getlink "docs.google.com/presentation"  -}}

    <!-- google presentation embed -->
    {{ $pathsrc = replace $getlink "pub?" "embed?" }}

    <div class="media-lazy google-ppt" data-src="{{ $pathsrc }}">
        <iframe src="{{ $pathsrc }}" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div>

{{- else if strings.Contains $getlink "drive.google.com/file" -}}

    <!-- google pdf embed -->
    {{ $pathsrc = replace $getlink "/view?usp=share_link" "/preview" }}

    <div class="media-lazy google-pdf" data-src="{{ $pathsrc }}">
        <iframe src="{{ $pathsrc }}" width="100%" height="480" allow="autoplay"></iframe>
    </div>


{{- else if strings.Contains $getlink "lottie" -}}

    <!-- lottie animation embed -->
    {{ if strings.Contains $getlink "http" }}
        {{ $pathsrc = $getlink }}
    {{ else if resources.GetMatch ( print "anima/" $getlink ) }}
        {{ $pathsrc = resources.GetMatch ( print "anima/" $getlink ) }}
    {{ else }}
        {{ $pathsrc = "/icons/no-image.svg" }}
    {{ end }}

    <div class="media-lazy animax" data-src="{{ $pathsrc }}">
        <dotlottie-player src="{{ $pathsrc }}" background="transparent" speed="1" direction="1" mode="normal" loop autoplay></dotlottie-player>
    </div>

{{ end }}
