// media loader

.loader-round {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    div {
        position: absolute;
        border: 4px solid rgba(255, 255, 255, .30);
        opacity: 1;
        border-radius: 50%;
        animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }
    div:nth-child(2) {
        animation-delay: -0.5s;
    }
    @keyframes lds-ripple {
        0% {
          top: 36px;
          left: 36px;
          width: 0;
          height: 0;
          opacity: 0;
        }
        4.9% {
          top: 36px;
          left: 36px;
          width: 0;
          height: 0;
          opacity: 0;
        }
        5% {
          top: 36px;
          left: 36px;
          width: 0;
          height: 0;
          opacity: 1;
        }
        100% {
          top: 0px;
          left: 0px;
          width: 72px;
          height: 72px;
          opacity: 0;
        }
    }  
}
.loader-round.hide{
    opacity: 0;
    transition: opacity 1s linear 1s; 
}

/* render image */
.noimg{
  color: #777;
  background-color: #eee;
  aspect-ratio: 2 / 1;
  figure {
      width: 9%;
      display: grid;
      justify-items: center;
  }
  .caption {
      font-size: 1.7vw;
  }
}

.picbox, .noimg{
  animation: loadimage .2s;
  .image {
      width: 100%;
  }
  .caption {
     text-align: center;
  }
}

@keyframes loadimage {
  from { opacity: 0; }
  to { opacity: 1; }
}