<!doctype html>
<html lang="{{ site.Language.Lang }}" data-mode="auto">
	<head>
		{{- block "headhook" . }}{{- end -}} <!-- register scripter filter hooks for current pages -->
		{{- partial "recores/headhook" . -}} <!-- renders critical scripts for current active page -->
		{{- block "metahook" . }}{{- end -}} <!-- register metadata hooks filter for current pages -->
	</head>
	<body id="page-{{ .Kind }}{{ with.Section }} {{ . }}{{ end }}{{ with .Site.Params.layout.model }} {{ . }}{{ end }}" class="pagetop" data-modal="">
		<header id="head-{{ .Kind }}{{ with.Section }} {{ . }}{{ end }}{{ with .Site.Params.layout.model }} {{ . }}{{ end }}" class="headnav">
			{{- partial "header"  . -}}
		</header>
		<main id="main-{{ .Kind }}{{ with.Section }} {{ . }}{{ end }}{{ with .Site.Params.layout.model }} {{ . }}{{ end }}" class="content">
			{{- block "content" . }}{{ end -}}
		</main>
		<footer id="foot-{{ .Kind }}{{ with.Section }} {{ . }}{{ end }}{{ with .Site.Params.layout.model }} {{ . }}{{ end }}" class="footer" >
			{{- partial "footer"  . -}}
		</footer>
 		{{- partial "recores/foothook" . -}}
	</body>
</html>