
/* components */
html[data-mode='dark'] .icons {
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}

input, button, textarea, select {
    font: inherit;
}

.nolist {
    list-style: none;
    padding-inline-start: 0;
}


/* tabs */

.tabs {
    .tabs-open {
        flex-shrink: 0;
        flex-grow: 1;
    }
    .tabs-load {
        position: relative;
    }

    .tab-content{
        z-index: -1;
        position: fixed;
        visibility: hidden;
    }
    .tab-content.active{
        z-index: 1;
        position: relative;
        visibility: visible;
    }
  
}