/* media */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
.fluid {
    width: 100%;
}
.media {
    width: 100%; 
    position: relative; 
    background: var(--bg-color);
    border: var(--br-primer);
    overflow: hidden;
    aspect-ratio: 16 / 9;
}
.landscape { 
    aspect-ratio: 16 / 9;
    video {
        height: 100%;
        object-fit: cover; 
    }
    iframe {
        height: 100%;
    }
}
.portrait {
    iframe{
        height: 100%;
    }
}
.media {
    img,
    video,
    iframe,
    .audiobox{
        opacity: 0;
        border: 0;
    }
}

.media.loaded{
    img,
    video,
    iframe,
    .audiobox{
        opacity: 1;
        transition: opacity .5s linear .5s; 
    }
}