/* media */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
.fluid {
    width: 100%;
}
.media {
    width: 100%; 
    position: relative; 
    background: var(--bg-color);
    border: var(--br-primer);
    overflow: hidden;
}
.landscape { 
    aspect-ratio: 16 / 9;
    video {
        height: 100%;
        object-fit: cover; 
    }
    iframe {
        height: 100%;
    }
}
.portrait {
    height: 95vh;
    iframe{
        height: 100%;
    }
}
.portrait,
.landscape {
    img,
    video,
    iframe{
        opacity: 0;
        width: 100%;
        border: 0;
        position: absolute;
    }
    img.loaded,
    video.loaded,
    iframe.loaded{
        opacity: 1;
        transition: opacity .5s linear .5s; 
    }
}