
/* font */
h1, h2, h3, h4, h5, h6, a {
    color: var(--text-primary);
    overflow-wrap: break-word;
    line-height: 1.45;
}
h1 {
    font-size: 1.8rem;
} 
h2 {
    font-size: 1.7rem;
} 
h3 {
    font-size: 1.6rem;
} 
h4{
    font-size: 1.5rem;
} 
h5 {
    font-size: 1.4rem;
}
h6 {
    font-size: 1.3rem;
} 
header, footer, main, p {
    font-size: 1.113rem;
}
p {
    color: var(--text-reading);
    overflow-wrap: break-word;
    line-height: 1.33;
    margin: .8em 0;
}

/* function */
.no-decor {
    text-decoration: none;
}