
/* font weight */
.fw-3x{
    font-weight: 300;
}
.fw-6x{
    font-weight: 600;
}
.fw-4x{
    font-weight: 400;
}

/* font size */
.fz-80{
    font-size: 80%;
}
.fz-85{
    font-size: 85%;
}
.fz-90{
    font-size: 90%;
}
.fz-95{
    font-size: 95%;
}
.fz-100{
    font-size: 100%;
}
.fz-120{
    font-size: 120%;
}
.fz-130{
    font-size: 130%;
}
.fz-140{
    font-size: 140%;
}
.fz-150{
    font-size: 150%;
}
.fz-2x{
    font-size: 200%;
}
.fz-3x{
    font-size: 300%;
}
.fz-4x{
    font-size: 400%;
}
.fz-5x{
    font-size: 500%;
}

/* function */
.no-decor {
    text-decoration: none;
}