{{ $populate_script := slice }}


<!-- RENDER CLASS -->

<!-- render anima -->
{{ if .Page.Store.Get "render_anima" }}
    {{ $render_script_anima := resources.Get "script/based/protos/script/render/anima.js" | js.Build "jsx/anima.js" }}
    {{ $populate_script = $populate_script | append $render_script_anima }}
{{ end }}


<!-- render audio -->
{{ if .Page.Store.Get "render_audio" }} 
    {{ $render_script_audio := resources.Get "script/based/protos/script/render/audio.js" | js.Build "jsx/audio.js" }}
    {{ $populate_script = $populate_script | append $render_script_audio }}
{{ end }}


<!-- render docus -->
{{ if .Page.Store.Get "render_docus" }} 
    {{ $render_script_docus := resources.Get "script/based/protos/script/render/docus.js" | js.Build "jsx/docus.js" }}
    {{ $populate_script = $populate_script | append $render_script_docus }}
{{ end }}


<!-- render google docs -->
{{ if .Page.Store.Get "render_godoc" }} 
    {{ $render_script_godoc := resources.Get "script/based/protos/script/render/godoc.js" | js.Build "jsx/godoc.js" }}
    {{ $populate_script = $populate_script | append $render_script_godoc }}
    {{ print "google doc found" }}
{{ end }}


<!-- render google file -->
{{ if .Page.Store.Get "render_gofile" }} 
    {{ $render_script_gopdf := resources.Get "script/based/protos/script/render/gopdf.js" | js.Build "jsx/gopdf.js" }}
    {{ $populate_script = $populate_script | append $render_script_gopdf }}
{{ end }}


<!-- render google ppt -->
{{ if .Page.Store.Get "render_goppt" }} 
    {{ $render_script_goppt := resources.Get "script/based/protos/script/render/goppt.js" | js.Build "jsx/goppt.js" }}
    {{ $populate_script = $populate_script | append $render_script_goppt }}
{{ end }}


<!-- render google excel -->
{{ if .Page.Store.Get "render_goxls" }} 
    {{ $render_script_goxls := resources.Get "script/based/protos/script/render/goxls.js" | js.Build "jsx/goxls.js" }}
    {{ $populate_script = $populate_script | append $render_script_goxls }}
{{ end }}


<!-- render images -->
{{ if .Page.Store.Get "render_image" }} 
    {{ $render_script_image := resources.Get "script/based/protos/script/render/image.js" | js.Build "jsx/image.js" }}
    {{ $populate_script = $populate_script | append $render_script_image }}
{{ end }}


<!-- render soundcloud -->
{{ if .Page.Store.Get "render_soundcloud" }} 
    {{ $render_script_sclod := resources.Get "script/based/protos/script/render/sclod.js" | js.Build "jsx/sclod.js" }}
    {{ $populate_script = $populate_script | append $render_script_sclod }}
{{ end }}


<!-- render video -->
{{ if .Page.Store.Get "render_video" }} 
    {{ $render_script_video := resources.Get "script/based/protos/script/render/video.js" | js.Build "jsx/video.js" }}
    {{ $populate_script = $populate_script | append $render_script_video }}
{{ end }}


<!-- render vimeo -->
{{ if .Page.Store.Get "render_vimeo" }} 
    {{ $render_script_vimeo := resources.Get "script/based/protos/script/render/vimeo.js" | js.Build "jsx/vimeo.js" }}
    {{ $populate_script = $populate_script | append $render_script_vimeo }}
{{ end }}


<!-- render youtube -->
{{ if .Page.Store.Get "render_youtube" }} 
    {{ $render_script_ytube := resources.Get "script/based/protos/script/render/ytube.js" | js.Build "jsx/ytube.js" }}
    {{ $populate_script = $populate_script | append $render_script_ytube }}
{{ end }}


<!-- render lazy load -->
{{ $render_script_based   := resources.Get "script/based/protos/script/render/_main.js" | js.Build "jsx/rnder.js" }}
{{ $populate_script = $populate_script | append $render_script_based }}




<!-- BASED CLASS  -->
{{ $themes_based := resources.Get "script/based/protos/script/based/_main.js" | js.Build "jsx/base-core.js" }}
{{ $populate_script = $populate_script | append $themes_based }}



<!-- MODULE CLASS -->
{{ $modul_printer  := resources.Get "script/based/modul/printer/script/_main.js" | js.Build "jsx/printer.js" }}
{{ $populate_script = $populate_script | append $modul_printer }}


{{ $modul_searchs := resources.Get "script/based/modul/searchs/script/_main.js" | js.Build "jsx/searchs.js" }}
{{ $populate_script = $populate_script | append $modul_searchs }}

{{ $modul_webapps := resources.Get "script/based/modul/webapp/script/_main.js" | js.Build "jsx/webapps.js" }}
{{ $populate_script = $populate_script | append $modul_webapps }}


{{ $modul_youtube := resources.Get "script/based/modul/youtube/script/_main.js" | js.Build "jsx/youtube.js" }}
{{ $populate_script = $populate_script | append $modul_webapps }}



<!-- RENDER -->

<!-- based scripts -->
{{ $based_script := print "jsx/" ( delimit (shuffle (split (md5 .Title ) "" )) ""  | urlize )  ".js"  }}
{{- if hugo.IsProduction -}}
    {{- $render_script := $populate_script | resources.Concat $based_script | resources.ExecuteAsTemplate $based_script . |  minify | fingerprint  -}}
    <script id="base-jsx" src="{{ $render_script.RelPermalink }}" integrity="{{ $render_script.Data.Integrity | safeHTMLAttr }}" type="module" defer></script>
{{- else -}}
    {{- $render_script := $populate_script | resources.Concat $based_script | resources.ExecuteAsTemplate $based_script .  -}}
    <script id="base-jsx" src="{{ $render_script.RelPermalink  }}" type="module" defer></script>
{{- end -}}


<!-- paged scripts -->
{{- if .Scratch.Get "page_jsx" -}}
    {{- range slice ( .Scratch.Get "page_jsx" ) -}}
        {{  $page_script := "" }}
        {{  $data_hashed := "" }}
        {{- $module_type := cond ( eq .type "module"  ) "module" "" -}}
     
        {{- if hugo.IsProduction -}}
            {{  $name_script := print "jsx/" ( delimit (shuffle (split (md5 .dest ) "" )) ""  | urlize )  ".js"  }}
            {{- $page_script = resources.Get .src | js.Build $name_script | resources.ExecuteAsTemplate $name_script . | minify | fingerprint -}}
            {{- $data_hashed = $page_script.Data.Integrity | safeHTMLAttr -}}
            <script id="page-jsx" src="{{ $page_script.RelPermalink }}" integrity="{{ with $data_hashed  }}{{.}}{{ end }}" type="{{ $module_type }}" defer></script>
        {{ else }}
            {{- $page_script = resources.Get .src | js.Build .dest | resources.ExecuteAsTemplate .dest . -}}
            <script id="page-jsx" src="{{ $page_script.RelPermalink }}" integrity="{{ with $data_hashed  }}{{.}}{{ end }}" type="{{ $module_type }}" defer></script>
        {{ end }}
    {{- end -}}
{{- end -}}



<!-- VENDOR -->

<!-- google analytic -->
{{ if hugo.IsProduction }}
    {{ template "_internal/google_analytics_async.html" . }}
{{ end }}


<!-- diagram feature -->
{{ if .Page.Store.Get "hasMermaid" }}
<script type="module" defer>
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true });
</script>
{{ end }}





