{{ $model := .Site.Params.base_model.logos }}
<div class="logo {{ $model }}">
    {{ if ne $model "text-only" }}
    <figure class="box" data-logodark="{{ .Site.Params.site_meta.logo_darks }}">
        <img class="image" src="{{ .Site.Params.site_meta.logo_light }}" alt="{{ .Site.Params.title }} main logo">
    </figure>
    {{ end }}
    {{ if ne $model "icon-only" }}
    <div class="meta">
        <h1 class="title">{{ .Site.Params.title }}</h1>
        {{ if eq $model "all" }}
        <p class="leads">{{  .Site.Params.site_meta.leads }}</p>
        {{ end }}
    </div>
    {{ end }}
</div>