/* main variable */

* {
    margin:0;
    padding: 0;
}

html {
    --bg-primary: #fff;
    --bg-blue : linear-gradient(65deg, #0270D7 0, #0F8AFD 100%);
    --bg-layer : linear-gradient(65deg, #0270D7 0, #0F8AFD 100%);
    --br-color : 1px solid rgb(0 0 0 / 15%);
    --text-primary: #000;
    --text-secondary : #222;
}
 
html[data-mode='dark'] {
    --bg-primary: #242830;
    --bg-blue : linear-gradient(65deg, #0270D7 0, #0F8AFD 100%);
    --bg-layer : linear-gradient(75deg, #25323c 0, #4c5054 100%);
    --br-color : 1px solid rgb(255 255 255 / 15%);
    --text-primary: #fff;
    --text-secondary : #8A94A7;   
}


body{
    background: var(--bg-primary);
    color: var(--text-primary);
}


/* border radius */

.round-7 {
    border-radius: 7px;
}
.round-5 {
    border-radius: 5px;
}
.round-10 {
    border-radius: 10px;
    overflow: hidden;
}
.round-15 {
    border-radius: 15px;
}


/* font */
h1, h2, h3, h4, h5, h6, a {
    color: var(--text-primary);
}
p {
    color: var(--text-secondary);
}
.fw-6x{
    font-weight: 600;
}
.fw-4x{
    font-weight: 400;
}
.fw-3x{
    font-weight: 300;
}
.fz-110{
    font-size: 110%;
}
.fz-120{
    font-size: 120%;
}
.fz-130{
    font-size: 130%;
}
.fz-140{
    font-size: 140%;
}
.fz-150{
    font-size: 150%;
}
.fz-2x{
    font-size: 200%;
}
.fz-3x{
    font-size: 300%;
}
.fz-4x{
    font-size: 400%;
}
.fz-5x{
    font-size: 500%;
}

/* flex */
.flex-c {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* visibility */
.hide {
    visibility: hidden;
}
.dnone {
    opacity: 0;
    z-index: -1;
    display: block;
    position: fixed;
}

/* column */
.row {
    display: grid;
}
.row-all {
    display: grid;
    align-items: center;
    justify-items: center;
}
.row-x {
    display: grid;
    justify-items: center;
}
.row-y {
    display: grid;
    align-items: center;
}
.col-2 {
    grid-template-columns: repeat( 2, calc( 100vw / 2 ) ) ;
}
.col-3 {
    grid-template-columns: repeat( 3, calc( 100vw / 3 ) ) ;
}
.col-4 {
    grid-template-columns: repeat( 4, calc( 100vw / 4 ) ) ;
}
.col-5 {
    grid-template-columns: repeat( 5, calc( 100vw / 5 ) ) ;
}
.col-6 {
    grid-template-columns: repeat( 6, calc( 100vw / 6 ) ) ;
}
.col-7 {
    grid-template-columns: repeat( 7, calc( 100vw / 7 ) ) ;
}
.col-8 {
    grid-template-columns: repeat( 8, calc( 100vw / 8 ) ) ;
}
.col-9 {
    grid-template-columns: repeat( 9, calc( 100vw / 9 ) ) ;
}
.col-10 {
    grid-template-columns: repeat( 10, calc( 100vw / 10 ) ) ;
}
.col-11 {
    grid-template-columns: repeat( 11, calc( 100vw / 11 ) ) ;
}
.col-12 {
    grid-template-columns: repeat( 11, calc( 100vw / 12 ) ) ;
}
.colfix {
    float: none; 
    clear: both; 
}


/* media */

img {
    max-width: 100%;
    height: auto;
}
.media {
    width: 100%; 
    position: relative; 
    background: var(--bg-layer);
    border: var(--br-color);
    overflow: hidden;
}
.landscape { 
    aspect-ratio: 16 / 9;
    border-radius: 15px;
    video {
        height: 100%;
        object-fit: cover; 
    }
    iframe {
        height: 100%;
    }
}
.portrait {
    height: 95vh;
    iframe{
        height: 100%;
    }
}
.portrait,
.landscape {
    video,
    iframe{
        opacity: 0;
        width: 100%;
        border: 0;
        position: absolute;
    }
    video.loaded,
    iframe.loaded{
        opacity: 1;
        transition: opacity .5s linear 1s; 
    }
}
.loader-round {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    div {
        position: absolute;
        border: 4px solid rgba(255, 255, 255, .30);
        opacity: 1;
        border-radius: 50%;
        animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }
    div:nth-child(2) {
        animation-delay: -0.5s;
    }
    @keyframes lds-ripple {
        0% {
          top: 36px;
          left: 36px;
          width: 0;
          height: 0;
          opacity: 0;
        }
        4.9% {
          top: 36px;
          left: 36px;
          width: 0;
          height: 0;
          opacity: 0;
        }
        5% {
          top: 36px;
          left: 36px;
          width: 0;
          height: 0;
          opacity: 1;
        }
        100% {
          top: 0px;
          left: 0px;
          width: 72px;
          height: 72px;
          opacity: 0;
        }
    }  
}
.loader-round.hide{
    opacity: 0;
    transition: opacity 1s linear 1s; 
}



/* components */

html[data-mode='dark'] .icons {
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}
