/* main variable */
@import 'main/variable.scss';


/* General  */
* {
    margin:0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

#root, #__next {
    isolation: isolate;
}

html {
    --bg-primary: #fff;
    --bg-blue : linear-gradient(65deg, #0270D7 0, #0F8AFD 100%);
    --bg-layer : linear-gradient(65deg, #0270D7 0, #0F8AFD 100%);
    --br-color : 1px solid rgb(0 0 0 / 15%);
    --text-body : #222;
    --text-primary: #000;
    --text-reading : #222;
}
 
html[data-mode='dark'] {
    --bg-primary: #242830;
    --bg-blue : linear-gradient(65deg, #0270D7 0, #0F8AFD 100%);
    --bg-layer : linear-gradient(75deg, #25323c 0, #4c5054 100%);
    --br-color : 1px solid rgb(255 255 255 / 15%);
    --text-body : #8A94A7;
    --text-primary: #fff;
    --text-reading : #dee4ef;   
}

html{
    box-sizing: border-box;
    overflow-x: hidden;
    touch-action: manipulation;
}

body{
    background: var(--bg-primary);
    color: var(--text-body);
    font-size: calc(15px + .390625vw);
    -webkit-font-smoothing: antialiased;
}


/* border radius */
.round-5 {
    border-radius: 5px;
    overflow: hidden;
}
.round-7 {
    border-radius: 7px;
    overflow: hidden;
}
.round-10 {
    border-radius: 10px;
    overflow: hidden;
}
.round-15 {
    border-radius: 15px;
    overflow: hidden;
}


/* font */
h1, h2, h3, h4, h5, h6, a {
    color: var(--text-primary);
    overflow-wrap: break-word;
    line-height: 1.45;
}
h1 {
    font-size: 1.8rem;
} 
h2 {
    font-size: 1.7rem;
} 
h3 {
    font-size: 1.6rem;
} 
h4{
    font-size: 1.5rem;
} 
h5 {
    font-size: 1.4rem;
}
h6 {
    font-size: 1.3rem;
} 
header, footer, main, p {
    font-size: 1.113rem;
}
p {
    color: var(--text-reading);
    overflow-wrap: break-word;
    line-height: 1.33;
    margin: .8em 0;
}
a {
    text-decoration: none;
}
.fw-6x{
    font-weight: 600;
}
.fw-4x{
    font-weight: 400;
}
.fw-3x{
    font-weight: 300;
}
.fz-80{
    font-size: 80%;
}
.fz-85{
    font-size: 85%;
}
.fz-90{
    font-size: 90%;
}
.fz-95{
    font-size: 95%;
}
.fz-100{
    font-size: 100%;
}
.fz-120{
    font-size: 120%;
}
.fz-130{
    font-size: 130%;
}
.fz-140{
    font-size: 140%;
}
.fz-150{
    font-size: 150%;
}
.fz-2x{
    font-size: 200%;
}
.fz-3x{
    font-size: 300%;
}
.fz-4x{
    font-size: 400%;
}
.fz-5x{
    font-size: 500%;
}

/* layouts */
.hide {
    visibility: hidden;
}
.dnone {
    opacity: 0;
    z-index: -1;
    display: block;
    position: fixed;
}
.colfix {
    float: none; 
    clear: both; 
}
.row {
    display: grid;
}
.flex {
    display: inline-flex;
}
.row.all,
.flex.all {
    align-items: center;
    justify-items: center;
}
.row.horizontal,
.flex.horizontal {
    justify-items: center;
}
.row.vertical,
.flex.vertical {
    align-items: center;
}
.wrap {
    margin: 0 auto;
    @media ( max-width: $media-xs ), ( min-width: $media-xs )  {
        width: calc( 100vw - 20px);
    }
    @media ( min-width: $media-sm )  {
        width: 94vw;
    }
}
.cols-2 {
    grid-template-columns: repeat( 2, calc( 100vw / 2 ) ) ;
}
.cols-3 {
    grid-template-columns: repeat( 3, calc( 100vw / 3 ) ) ;
}
.col-4 {
    grid-template-columns: repeat( 4, calc( 100vw / 4 ) ) ;
}
.col-5 {
    grid-template-columns: repeat( 5, calc( 100vw / 5 ) ) ;
}
.col-6 {
    grid-template-columns: repeat( 6, calc( 100vw / 6 ) ) ;
}
.col-7 {
    grid-template-columns: repeat( 7, calc( 100vw / 7 ) ) ;
}
.col-8 {
    grid-template-columns: repeat( 8, calc( 100vw / 8 ) ) ;
}
.col-9 {
    grid-template-columns: repeat( 9, calc( 100vw / 9 ) ) ;
}
.col-10 {
    grid-template-columns: repeat( 10, calc( 100vw / 10 ) ) ;
}
.col-11 {
    grid-template-columns: repeat( 11, calc( 100vw / 11 ) ) ;
}
.col-12 {
    grid-template-columns: repeat( 11, calc( 100vw / 12 ) ) ;
}


/* spacing */
.no-space {
    line-height: 1;
    margin:0;
    padding: 0;
} 

.ml-a {
    margin-left: auto;
}
.ml-05,
.mx-05 {
    margin-left: .5rem ;
}

.ml-1,
.mx-1 {
    margin-left: .75rem ;
}

.mt-1,
.my-1 {
    margin-top: .75rem ;
}

.mb-1,
.my-1 {
    margin-bottom: .75rem ;
}

.mt-2,
.my-2 {
    margin-top: 1rem ;
}

.mb-2,
.my-2 {
    margin-bottom: 1rem ;
}


.mt-3,
.my-3 {
    margin-top: 1.5rem ;
}

.mb-3,
.my-3 {
    margin-bottom: 1.5rem ;
}


.mr-a {
    margin-right: auto;
}
.mr-05,
.mx-05 {
    margin-right: .5rem ;
}

.mx-1,
.mr-1 {
    margin-right: .75rem ;
}

/* media */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
.fluid {
    width: 100%;
}
.media {
    width: 100%; 
    position: relative; 
    background: var(--bg-layer);
    border: var(--br-color);
    overflow: hidden;
}
.landscape { 
    aspect-ratio: 16 / 9;
    border-radius: 15px;
    video {
        height: 100%;
        object-fit: cover; 
    }
    iframe {
        height: 100%;
    }
}
.portrait {
    height: 95vh;
    iframe{
        height: 100%;
    }
}
.portrait,
.landscape {
    video,
    iframe{
        opacity: 0;
        width: 100%;
        border: 0;
        position: absolute;
    }
    video.loaded,
    iframe.loaded{
        opacity: 1;
        transition: opacity .5s linear 1s; 
    }
}

/* components */

html[data-mode='dark'] .icons {
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}
input, button, textarea, select {
    font: inherit;
}

.nolist {
    list-style: none;
    padding-inline-start: 0;
}