<!-- define variable -->
{{- $contex_page := .ctx -}}
{{- $assets_conf := .config -}}
{{- $module_name := .module -}}









<!-- populate script -->
{{- range $section, $data := $assets_conf -}}
  
    {{- if and ( eq $section "styles" ) ( $data.head ) -}}
        {{- range $data.head -}}
            {{- $assets_path := print $module_name "/based/head/styles/" . ".scss" -}}
            {{- partial "set-script" ( dict "ctx" $contex_page "src" $assets_path "load" "head" "cond" "" ) -}}
        {{- end -}}
    {{- end -}}


    {{- if and ( eq $section "styles" ) ( $data.foot )  -}}
        {{- range $data.foot -}}
            {{- $assets_path := print $module_name "/based/foot/styles/" . ".scss" -}}
            {{- partial "set-script" ( dict "ctx" $contex_page "src" $assets_path "load" "foot" "cond" "" ) -}}
        {{- end -}}
    {{- end -}}


    {{- if and ( eq $section "script" ) ( $data.head )  -}}
        {{- range $data.head -}}
            {{- $assets_path := print $module_name "/based/head/script/" . ".js" -}}
            {{- partial "set-script" ( dict "ctx" $contex_page "src" $assets_path "load" "head" "cond" "" ) -}}
        {{- end -}}
    {{- end -}}


    {{- if and ( eq $section "script" ) ( $data.foot )  -}}
        {{- range $data.foot -}}
            {{- $assets_path := print $module_name "/based/foot/script/" . ".js" -}}
            {{- partial "set-script" ( dict "ctx" $contex_page "src" $assets_path "load" "foot" "cond" "" ) -}}
        {{- end -}}
    {{- end -}}
    
{{- end -}}