{{ $scripts := .script }}
{{ $pageset := .context.Page.Store }}
{{ $dirpath := print "script/modul/rackmedia/script/" }}



<!-- register mediarack class -->
{{ $main :=  resources.Get ( print $dirpath "_foots.js" ) | js.Build "jsx/rackmedia/main.js"  }}
{{ $scripts = $scripts | append $main  }}


<!-- register anima class -->
{{ if $pageset.Get "falcon_render_anima" }}
    {{ $scripts = $scripts | append ( resources.Get ( print $dirpath "anima.js" | js.Build "jsx/rackmedia/anima.js" ) ) }}
{{ end }}



 <!-- register main class -->
{{ return $scripts }}
