/*  based variable  */
$media-xs   : 420px;
$media-sm   : 768px;
$media-md   : 992px;
$media-lg   : 1200px;
$media-xl   : 1400px;
$media-gl   : 1956px;

html[data-mode='dark'] {
    --color-back-1 : #242830;
}


html {
    // coloring
    --color-back-1 : #fff;
}
 

/*  normalize class  */

* {
    margin:0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

#root, #__next {
    isolation: isolate;
}

html{
    box-sizing: border-box;
    overflow-x: hidden;
    touch-action: manipulation;
}