.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xl-1, .col-gx-1 {
    flex: 100%;
}

.col{
    flex: auto;
}

@media ( min-width: 420px ){
    .col-xs-2 {
        flex: 50%;
    }
    .col-xs-3 {
        flex: 33.3333%;
    }
    .col-xs-4 {
        flex: 25%;
    }
    .col-xs-5 {
        flex: 20%;
    }
    .col-xs-6 {
        flex: 16.6666666667%;
    }
    .col-xs-7 {
        flex: 14.2857142857%;
    }
    .col-xs-8 {
        flex: 12.5%;
    }
    .col-xs-9 {
        flex: 11.1111111111%;
    }
    .col-xs-10 {
        flex: 10%;
    }
    .col-xs-11 {
        flex: 9.09090909091%;
    }
    .col-xs-12 {
        flex: 8.33333333333%;
    }
}

@media ( min-width: 768px ){
    .col-sm-2 {
        flex: 50%;
    }
    .col-sm-3 {
        flex: 33.3333%;
    }
    .col-sm-4 {
        flex: 25%;
    }
    .col-sm-5 {
        flex: 20%;
    }
    .col-sm-6 {
        flex: 16.6666666667%;
    }
    .col-sm-7 {
        flex: 14.2857142857%;
    }
    .col-sm-8 {
        flex: 12.5%;
    }
    .col-sm-9 {
        flex: 11.1111111111%;
    }
    .col-sm-10 {
        flex: 10%;
    }
    .col-sm-11 {
        flex: 9.09090909091%;
    }
    .col-sm-12 {
        flex: 8.33333333333%;
    }
}

@media ( min-width: 992px ){
    .col-md-2 {
        flex: 50%;
    }
    .col-md-3 {
        flex: 33.3333%;
    }
    .col-md-4 {
        flex: 25%;
    }
    .col-md-5 {
        flex: 20%;
    }
    .col-md-6 {
        flex: 16.6666666667%;
    }
    .col-md-7 {
        flex: 14.2857142857%;
    }
    .col-md-8 {
        flex: 12.5%;
    }
    .col-md-9 {
        flex: 11.1111111111%;
    }
    .col-md-10 {
        flex: 10%;
    }
    .col-md-11 {
        flex: 9.09090909091%;
    }
    .col-md-12 {
        flex: 8.33333333333%;
    }
}

@media ( min-width: 1200px ){
    .col-lg-2 {
        flex: 50%;
    }
    .col-lg-3 {
        flex: 33.3333%;
    }
    .col-lg-4 {
        flex: 25%;
    }
    .col-lg-5 {
        flex: 20%;
    }
    .col-lg-6 {
        flex: 16.6666666667%;
    }
    .col-lg-7 {
        flex: 14.2857142857%;
    }
    .col-lg-8 {
        flex: 12.5%;
    }
    .col-lg-9 {
        flex: 11.1111111111%;
    }
    .col-lg-10 {
        flex: 10%;
    }
    .col--11 {
        flex: 9.09090909091%;
    }
    .col-md-12 {
        flex: 8.33333333333%;
    }
}

@media ( min-width: 1400px ){
    .col-xl-2 {
        flex: 50%;
    }
    .col-xl-3 {
        flex: 33.3333%;
    }
    .col-xl-4 {
        flex: 25%;
    }
    .col-xl-5 {
        flex: 20%;
    }
    .col-xl-6 {
        flex: 16.6666666667%;
    }
    .col-xl-7 {
        flex: 14.2857142857%;
    }
    .col-xl-8 {
        flex: 12.5%;
    }
    .col-xl-9 {
        flex: 11.1111111111%;
    }
    .col-xl-10 {
        flex: 10%;
    }
    .col-xl-11 {
        flex: 9.09090909091%;
    }
    .col-xl-12 {
        flex: 8.33333333333%;
    }
}

@media ( min-width: 1957px ){
    .col-xl-2 {
        flex: 50%;
    }
    .col-xl-3 {
        flex: 33.3333%;
    }
    .col-xl-4 {
        flex: 25%;
    }
    .col-xl-5 {
        flex: 20%;
    }
    .col-xl-6 {
        flex: 16.6666666667%;
    }
    .col-xl-7 {
        flex: 14.2857142857%;
    }
    .col-xl-8 {
        flex: 12.5%;
    }
    .col-xl-9 {
        flex: 11.1111111111%;
    }
    .col-xl-10 {
        flex: 10%;
    }
    .col-xl-11 {
        flex: 9.09090909091%;
    }
    .col-xl-12 {
        flex: 8.33333333333%;
    }
}

@media ( min-width: 1957px ) {
    .col-gx-2 {
        flex: 50%;
    }
    .col-gx-3 {
        flex: 33.3333%;
    }
    .col-gx-4 {
        flex: 25%;
    }
    .col-gx-5 {
        flex: 20%;
    }
    .col-gx-6 {
        flex: 16.6666666667%;
    }
    .col-gx-7 {
        flex: 14.2857142857%;
    }
    .col-gx-8 {
        flex: 12.5%;
    }
    .col-gx-9 {
        flex: 11.1111111111%;
    }
    .col-gx-10 {
        flex: 10%;
    }
    .col-gx-11 {
        flex: 9.09090909091%;
    }
    .col-gx-12 {
        flex: 8.33333333333%;
    }
}

.card-2 {
    display: grid;
    @media ( max-width: 420px ) and ( min-width: 420px ) { 
        grid-template-columns: repeat( 1, calc( 100vw / 1 ) );
    }
    @media ( min-width: 768px )  { 
        grid-template-columns: repeat( 2, calc( 100vw / 2 ) );
    }
}
.card-3 {
    display: grid;
    @media ( max-width: 420px ) and ( min-width: 420px ) { 
        grid-template-columns: repeat( 1, calc( 100vw / 1 ) );
    }
    @media ( min-width: 768px )  { 
        grid-template-columns: repeat( 2, calc( 100vw / 2 ) );
    }
    @media ( min-width: 992px )  {
        grid-template-columns: repeat( 3, calc( 100vw / 3 ) );
    }
}
.card-4 {
    display: grid;
    @media ( max-width: 420px ) and ( min-width: 420px )  { 
        grid-template-columns: repeat( 1, calc( 100vw / 1 ) );
    }
    @media ( min-width: 768px )  {
        grid-template-columns: repeat( 2, calc( 100vw / 2 ) );
    }
    @media ( min-width: 992px )  {
        grid-template-columns: repeat( 4, calc( 100vw / 4 ) );
    }
}
.card-5 {
    display: grid;
    @media ( max-width: 420px ) and ( min-width: 420px )  { 
        grid-template-columns: repeat( 1, calc( 100vw / 1 ) );
    }
    @media ( min-width: 768px )  {
        grid-template-columns: repeat( 2, calc( 100vw / 2 ) );
    }
    @media ( min-width: 992px )  {
        grid-template-columns: repeat( 4, calc( 100vw / 4 ) );
    }
    @media ( min-width: 1200px )  {
        grid-template-columns: repeat( 5, calc( 100vw / 5 ) );
    }
}
.card-6 {
    display: grid;
    @media ( max-width: 420px ) and ( min-width: 420px )  { 
        grid-template-columns: repeat( 1, calc( 100vw / 1 ) );
    }
    @media ( min-width: 768px )  {
        grid-template-columns: repeat( 2, calc( 100vw / 2 ) );
    }
    @media ( min-width: 992px )  {
        grid-template-columns: repeat( 3, calc( 100vw / 3 ) );
    }
    @media ( min-width: 1200px )  {
        grid-template-columns: repeat( 6, calc( 100vw / 6 ) );
    }
  
}
.card-7 {
    display: grid;
    @media ( max-width: 420px ) and ( min-width: 420px )  { 
        grid-template-columns: repeat( 1, calc( 100vw / 1 ) );
    }
    @media ( min-width: 768px )  {
        grid-template-columns: repeat( 2, calc( 100vw / 2 ) );
    }
    @media ( min-width: 992px )  {
        grid-template-columns: repeat( 4, calc( 100vw / 4 ) );
    }
    @media ( min-width: 1200px )  {
        grid-template-columns: repeat( 7, calc( 100vw / 7 ) );
    }
}
.card-8 {
    display: grid;
    @media ( max-width: 420px ) and ( min-width: 420px )  { 
        grid-template-columns: repeat( 1, calc( 100vw / 1 ) );
    }
    @media ( min-width: 768px )  {
        grid-template-columns: repeat( 2, calc( 100vw / 2 ) );
    }
    @media ( min-width: 992px )  {
        grid-template-columns: repeat( 4, calc( 100vw / 4 ) );
    }
    @media ( min-width: 1200px )  {
        grid-template-columns: repeat( 8, calc( 100vw / 8 ) );
    }
}
.card-9 {
    display: grid;
    @media ( max-width: 420px ) and ( min-width: 420px )  { 
        grid-template-columns: repeat( 1, calc( 100vw / 1 ) );
    }
    @media ( min-width: 768px )  {
        grid-template-columns: repeat( 2, calc( 100vw / 2 ) );
    }
    @media ( min-width: 992px )  {
        grid-template-columns: repeat( 4, calc( 100vw / 4 ) );
    }
    @media ( min-width: 1200px )  {
        grid-template-columns: repeat( 9, calc( 100vw / 9 ) );
    }
}
.card-10 {
    display: grid;
    @media ( max-width: 420px ) and ( min-width: 420px )  { 
        grid-template-columns: repeat( 1, calc( 100vw / 1 ) );
    }
    @media ( min-width: 768px )  {
        grid-template-columns: repeat( 2, calc( 100vw / 2 ) );
    }
    @media ( min-width: 992px )  {
        grid-template-columns: repeat( 5, calc( 100vw / 5 ) );
    }
    @media ( min-width: 1200px )  {
        grid-template-columns: repeat( 10, calc( 100vw / 10 ) );
    }
}
.card-11 {
    display: grid;
    @media ( max-width: 420px ) and ( min-width: 420px )  { 
        grid-template-columns: repeat( 1, calc( 100vw / 1 ) );
    }
    @media ( min-width: 768px )  {
        grid-template-columns: repeat( 2, calc( 100vw / 2 ) );
    }
    @media ( min-width: 992px )  {
        grid-template-columns: repeat( 5, calc( 100vw / 5 ) );
    }
    @media ( min-width: 1200px )  {
        grid-template-columns: repeat( 11, calc( 100vw / 11 ) );
    }
}
.card-12 {
    display: grid;
    @media ( max-width: 420px ) and ( min-width: 420px )  { 
        grid-template-columns: repeat( 1, calc( 100vw / 1 ) );
    }
    @media ( min-width: 768px )  {
        grid-template-columns: repeat( 2, calc( 100vw / 2 ) );
    }
    @media ( min-width: 992px )  {
        grid-template-columns: repeat( 6, calc( 100vw / 6 ) );
    }
    @media ( min-width: 1200px )  {
        grid-template-columns: repeat( 12, calc( 100vw / 12 ) );
    }
}