
.col{ flex: auto; }
.col-1 { flex: 8.33333333333%; }
.col-2 { flex: 16.6666666667%; }
.col-3 { flex: 25%; }
.col-4 { flex: 33.3333333333%; }
.col-5 { flex: 41.6666666667%; }
.col-6 { flex: 50%; }
.col-7 { flex: 66.6666666667%; }
.col-8 { flex: 66.6666666667%; }
.col-9 { flex: 75%; }
.col-10 { flex: 83.3333333333%; }
.col-11 { flex: 91.6666666667%; }
.col-12 { flex: 100%; }

@media ( min-width: 420px ){

    .col-xs-1 { flex: 8.33333333333%; }
    .col-xs-2 { flex: 16.6666666667%; }
    .col-xs-3 { flex: 25%; }
    .col-xs-4 { flex: 33.3333333333%; }
    .col-xs-5 { flex: 41.6666666667%; }
    .col-xs-6 { flex: 50%; }
    .col-xs-7 { flex: 66.6666666667%; }
    .col-xs-8 { flex: 66.6666666667%; }
    .col-xs-9 { flex: 75%; }
    .col-xs-10 { flex: 83.3333333333%; }
    .col-xs-11 { flex: 91.6666666667%; }
    .col-xs-12 { flex: 100%; }
}

@media ( min-width: 768px ){
    .col-sm-1 { flex: 8.33333333333%; }
    .col-sm-2 { flex: 16.6666666667%; }
    .col-sm-3 { flex: 25%; }
    .col-sm-4 { flex: 33.3333333333%; }
    .col-sm-5 { flex: 41.6666666667%; }
    .col-sm-6 { flex: 50%; }
    .col-sm-7 { flex: 66.6666666667%; }
    .col-sm-8 { flex: 66.6666666667%; }
    .col-sm-9 { flex: 75%; }
    .col-sm-10 { flex: 83.3333333333%; }
    .col-sm-11 { flex: 91.6666666667%; }
    .col-sm-12 { flex: 100%; }
}

@media ( min-width: 992px ){
    .col-md-1 { flex: 8.33333333333%; }
    .col-md-2 { flex: 16.6666666667%; }
    .col-md-3 { flex: 25%; }
    .col-md-4 { flex: 33.3333333333%; }
    .col-md-5 { flex: 41.6666666667%; }
    .col-md-6 { flex: 50%; }
    .col-md-7 { flex: 66.6666666667%; }
    .col-md-8 { flex: 66.6666666667%; }
    .col-md-9 { flex: 75%; }
    .col-md-10 { flex: 83.3333333333%; }
    .col-md-11 { flex: 91.6666666667%; }
    .col-md-12 { flex: 100%; }
}

@media ( min-width: 1200px ){
    .col-lg-1 { flex: 8.33333333333%; }
    .col-lg-2 { flex: 16.6666666667%; }
    .col-lg-3 { flex: 25%; }
    .col-lg-4 { flex: 33.3333333333%; }
    .col-lg-5 { flex: 41.6666666667%; }
    .col-lg-6 { flex: 50%; }
    .col-lg-7 { flex: 66.6666666667%; }
    .col-lg-8 { flex: 66.6666666667%; }
    .col-lg-9 { flex: 75%; }
    .col-lg-10 { flex: 83.3333333333%; }
    .col-lg-11 { flex: 91.6666666667%; }
    .col-lg-12 { flex: 100%; }
}

@media ( min-width: 1400px ){
    .col-xl-1 { flex: 8.33333333333%; }
    .col-xl-2 { flex: 16.6666666667%; }
    .col-xl-3 { flex: 25%; }
    .col-xl-4 { flex: 33.3333333333%; }
    .col-xl-5 { flex: 41.6666666667%; }
    .col-xl-6 { flex: 50%; }
    .col-xl-7 { flex: 66.6666666667%; }
    .col-xl-8 { flex: 66.6666666667%; }
    .col-xl-9 { flex: 75%; }
    .col-xl-10 { flex: 83.3333333333%; }
    .col-xl-11 { flex: 91.6666666667%; }
    .col-xl-12 { flex: 100%; }
}

@media ( min-width: 1957px ){
    .col-gx-1 { flex: 8.33333333333%; }
    .col-gx-2 { flex: 16.6666666667%; }
    .col-gx-3 { flex: 25%; }
    .col-gx-4 { flex: 33.3333333333%; }
    .col-gx-5 { flex: 41.6666666667%; }
    .col-gx-6 { flex: 50%; }
    .col-gx-7 { flex: 66.6666666667%; }
    .col-gx-8 { flex: 66.6666666667%; }
    .col-gx-9 { flex: 75%; }
    .col-gx-10 { flex: 83.3333333333%; }
    .col-gx-11 { flex: 91.6666666667%; }
    .col-gx-12 { flex: 100%; }
}



.card-2 {
    display: grid;
    @media ( max-width: 420px ) and ( min-width: 420px ) { 
        grid-template-columns: repeat( 1, calc( 100vw / 1 ) );
    }
    @media ( min-width: 768px )  { 
        grid-template-columns: repeat( 2, calc( 100vw / 2 ) );
    }
}
.card-3 {
    display: grid;
    @media ( max-width: 420px ) and ( min-width: 420px ) { 
        grid-template-columns: repeat( 1, calc( 100vw / 1 ) );
    }
    @media ( min-width: 768px )  { 
        grid-template-columns: repeat( 2, calc( 100vw / 2 ) );
    }
    @media ( min-width: 992px )  {
        grid-template-columns: repeat( 3, calc( 100vw / 3 ) );
    }
}
.card-4 {
    display: grid;
    @media ( max-width: 420px ) and ( min-width: 420px )  { 
        grid-template-columns: repeat( 1, calc( 100vw / 1 ) );
    }
    @media ( min-width: 768px )  {
        grid-template-columns: repeat( 2, calc( 100vw / 2 ) );
    }
    @media ( min-width: 992px )  {
        grid-template-columns: repeat( 4, calc( 100vw / 4 ) );
    }
}
.card-5 {
    display: grid;
    @media ( max-width: 420px ) and ( min-width: 420px )  { 
        grid-template-columns: repeat( 1, calc( 100vw / 1 ) );
    }
    @media ( min-width: 768px )  {
        grid-template-columns: repeat( 2, calc( 100vw / 2 ) );
    }
    @media ( min-width: 992px )  {
        grid-template-columns: repeat( 4, calc( 100vw / 4 ) );
    }
    @media ( min-width: 1200px )  {
        grid-template-columns: repeat( 5, calc( 100vw / 5 ) );
    }
}
.card-6 {
    display: grid;
    @media ( max-width: 420px ) and ( min-width: 420px )  { 
        grid-template-columns: repeat( 1, calc( 100vw / 1 ) );
    }
    @media ( min-width: 768px )  {
        grid-template-columns: repeat( 2, calc( 100vw / 2 ) );
    }
    @media ( min-width: 992px )  {
        grid-template-columns: repeat( 3, calc( 100vw / 3 ) );
    }
    @media ( min-width: 1200px )  {
        grid-template-columns: repeat( 6, calc( 100vw / 6 ) );
    }
  
}
.card-7 {
    display: grid;
    @media ( max-width: 420px ) and ( min-width: 420px )  { 
        grid-template-columns: repeat( 1, calc( 100vw / 1 ) );
    }
    @media ( min-width: 768px )  {
        grid-template-columns: repeat( 2, calc( 100vw / 2 ) );
    }
    @media ( min-width: 992px )  {
        grid-template-columns: repeat( 4, calc( 100vw / 4 ) );
    }
    @media ( min-width: 1200px )  {
        grid-template-columns: repeat( 7, calc( 100vw / 7 ) );
    }
}
.card-8 {
    display: grid;
    @media ( max-width: 420px ) and ( min-width: 420px )  { 
        grid-template-columns: repeat( 1, calc( 100vw / 1 ) );
    }
    @media ( min-width: 768px )  {
        grid-template-columns: repeat( 2, calc( 100vw / 2 ) );
    }
    @media ( min-width: 992px )  {
        grid-template-columns: repeat( 4, calc( 100vw / 4 ) );
    }
    @media ( min-width: 1200px )  {
        grid-template-columns: repeat( 8, calc( 100vw / 8 ) );
    }
}
.card-9 {
    display: grid;
    @media ( max-width: 420px ) and ( min-width: 420px )  { 
        grid-template-columns: repeat( 1, calc( 100vw / 1 ) );
    }
    @media ( min-width: 768px )  {
        grid-template-columns: repeat( 2, calc( 100vw / 2 ) );
    }
    @media ( min-width: 992px )  {
        grid-template-columns: repeat( 4, calc( 100vw / 4 ) );
    }
    @media ( min-width: 1200px )  {
        grid-template-columns: repeat( 9, calc( 100vw / 9 ) );
    }
}
.card-10 {
    display: grid;
    @media ( max-width: 420px ) and ( min-width: 420px )  { 
        grid-template-columns: repeat( 1, calc( 100vw / 1 ) );
    }
    @media ( min-width: 768px )  {
        grid-template-columns: repeat( 2, calc( 100vw / 2 ) );
    }
    @media ( min-width: 992px )  {
        grid-template-columns: repeat( 5, calc( 100vw / 5 ) );
    }
    @media ( min-width: 1200px )  {
        grid-template-columns: repeat( 10, calc( 100vw / 10 ) );
    }
}
.card-11 {
    display: grid;
    @media ( max-width: 420px ) and ( min-width: 420px )  { 
        grid-template-columns: repeat( 1, calc( 100vw / 1 ) );
    }
    @media ( min-width: 768px )  {
        grid-template-columns: repeat( 2, calc( 100vw / 2 ) );
    }
    @media ( min-width: 992px )  {
        grid-template-columns: repeat( 5, calc( 100vw / 5 ) );
    }
    @media ( min-width: 1200px )  {
        grid-template-columns: repeat( 11, calc( 100vw / 11 ) );
    }
}
.card-12 {
    display: grid;
    @media ( max-width: 420px ) and ( min-width: 420px )  { 
        grid-template-columns: repeat( 1, calc( 100vw / 1 ) );
    }
    @media ( min-width: 768px )  {
        grid-template-columns: repeat( 2, calc( 100vw / 2 ) );
    }
    @media ( min-width: 992px )  {
        grid-template-columns: repeat( 6, calc( 100vw / 6 ) );
    }
    @media ( min-width: 1200px )  {
        grid-template-columns: repeat( 12, calc( 100vw / 12 ) );
    }
}