
/* media queries
––––––––––––––––––––––––––––––––––––––––––––––––– 
    Note: The best way to structure the use of media queries is to create the queries
    near the relevant code. For example, if you wanted to change the styles for buttons
    on small devices, paste the mobile query code up in the buttons section and style it
    there.

    1. media-xs   : 420px;
    2. media-sm   : 768px;
    3. media-md   : 992px;
    4. media-lg   : 1200px;
    5. media-xl   : 1400px;
    6. media-gx   : 1956px;


    1. margin left
    2. margin right
    3. margin top
    4. margin bottom
    5. padding left
    6. padding right
    7. padding top
    8. padding bottom

*/


/* general 
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* misc */
.no-mp {
  line-height: 1;
  margin:0;
  padding: 0;
} 


/* 1. margin left */

.ml-a, .mx-a{
  margin-left: auto;
}
.ml-05, .mx-05 {
  margin-left: .5rem ;
}
.ml-1, .mx-1 {
  margin-left: .75rem ;
}
.ml-2, .mx-2 {
  margin-left: 1rem ;
}
.ml-3, .mx-3 {
  margin-left: 1.5rem ;
}
.ml-4, .mx-4 {
  margin-left: 2rem ;
}
.ml-5, .mx-5 {
  margin-left: 2.5rem ;
}
.ml-6, .mx-6 {
  margin-left: 3rem ;
}
.ml-7, .mx-7 {
  margin-left: 3.5rem ;
}
.ml-8, .mx-8 {
  margin-left: 4rem ;
}
.ml-9, .mx-9 {
  margin-left: 4.5rem ;
}
.ml-10, .mx-10 {
  margin-left: 5rem ;
}

/* 2. margin right */

.mr-a, .mx-a {
  margin-right: auto;
}
.mr-05, .mx-05 {
  margin-right: .5rem ;
}
.mx-1, .mr-1 {
  margin-right: .75rem ;
}
.mx-2, .mr-2 {
  margin-right: 1rem ;
}
.mx-3, .mr-3 {
  margin-right: 1.5rem ;
}
.mx-4, .mr-4 {
  margin-right: 2rem ;
}
.mx-5, .mr-5 {
  margin-right: 2.5rem ;
}
.mx-6, .mr-6 {
  margin-right: 3rem ;
}
.mx-7, .mr-7 {
  margin-right: 3.5rem ;
}
.mx-8, .mr-8 {
  margin-right: 4rem ;
}
.mx-9, .mr-9 {
  margin-right: 4.5rem ;
}
.mx-10, .mr-10 {
  margin-right: 5rem ;
}

/* 3. margin top */

.mt-a, .my-a {
  margin-top: auto ;
}
.mt-05, .my-05 {
  margin-top: .5rem ;
}
.mt-1, .my-1 {
  margin-top: .75rem ;
}
.mt-2, .my-2 {
  margin-top: 1rem ;
}
.mt-3, .my-3 {
  margin-top: 1.5rem ;
}
.mt-4, .my-4 {
  margin-top: 2rem ;
}
.mt-5, .my-5 {
  margin-top: 2.5rem ;
}
.mt-6, .my-6 {
  margin-top: 3rem ;
}
.mt-7, .my-7 {
  margin-top: 3.5rem ;
}
.mt-8, .my-8 {
  margin-top: 4rem ;
}
.mt-9, .my-9 {
  margin-top: 4.5rem ;
}
.mt-10, .my-10 {
  margin-top: 5rem ;
}

/* 4. margin bottom */

.mb-a, .my-a {
  margin-bottom: auto ;
}
.mb-05, .my-05 {
  margin-bottom: .5rem ;
}
.mb-1, .my-1 {
  margin-bottom: .75rem ;
}
.mb-2, .my-2 {
  margin-bottom: 1rem ;
}
.mb-3, .my-3 {
  margin-bottom: 1.5rem ;
}
.mb-4, .my-4 {
  margin-bottom: 2rem ;
}
.mb-5, .my-5 {
  margin-bottom: 2.5rem ;
}
.mb-6, .my-6 {
  margin-bottom: 3rem ;
}
.mb-7, .my-7 {
  margin-bottom: 3.5rem ;
}
.mb-8, .my-8 {
  margin-bottom: 4rem ;
}
.mb-9, .my-9 {
  margin-bottom: 4.5rem ;
}
.mb-10, .my-10 {
  margin-bottom: 5rem ;
}

/* 5. padding left */

.pl-a, .px-a{
  padding-left: auto;
}
.pl-05, .px-05 {
  padding-left: .5rem ;
}
.pl-1, .px-1 {
  padding-left: .75rem ;
}
.pl-2, .px-2 {
  padding-left: 1rem ;
}
.pl-3, .px-3 {
  padding-left: 1.5rem ;
}
.pl-4, .px-4 {
  padding-left: 2rem ;
}
.pl-5, .px-5 {
  padding-left: 2.5rem ;
}
.pl-6, .px-6 {
  padding-left: 3rem ;
}
.pl-7, .px-7 {
  padding-left: 3.5rem ;
}
.pl-8, .px-8 {
  padding-left: 4rem ;
}
.pl-9, .px-9 {
  padding-left: 4.5rem ;
}
.pl-10, .px-10 {
  padding-left: 5rem ;
}


/* padding right */

.pr-a, .px-a {
  padding-right: auto;
}
.pr-05, .px-05 {
  padding-right: .5rem ;
}
.px-1, .pr-1 {
  padding-right: .75rem ;
}
.px-2, .pr-2 {
  padding-right: 1rem ;
}
.px-3, .pr-3 {
  padding-right: 1.5rem ;
}
.px-4, .pr-4 {
  padding-right: 2rem ;
}
.px-5, .pr-5 {
  padding-right: 2.5rem ;
}
.px-6, .pr-6 {
  padding-right: 3rem ;
}
.px-7, .pr-7 {
  padding-right: 3.5rem ;
}
.px-8, .pr-8 {
  padding-right: 4rem ;
}
.px-9, .pr-9 {
  padding-right: 4.5rem ;
}
.px-10, .pr-10 {
  padding-right: 5rem ;
}


/* padding top */

.pt-a, .py-a {
  padding-top: auto ;
}
.pt-05, .py-05 {
  padding-top: .5rem ;
}
.pt-1, .py-1 {
  padding-top: .75rem ;
}
.pt-2, .py-2 {
  padding-top: 1rem ;
}
.pt-3, .py-3 {
  padding-top: 1.5rem ;
}
.pt-4, .py-4 {
  padding-top: 2rem ;
}
.pt-5, .py-5 {
  padding-top: 2.5rem ;
}
.pt-6, .py-6 {
  padding-top: 3rem ;
}
.pt-7, .py-7 {
  padding-top: 3.5rem ;
}
.pt-8, .py-8 {
  padding-top: 4rem ;
}
.pt-9, .py-9 {
  padding-top: 4.5rem ;
}
.pt-10, .py-10 {
  padding-top: 5rem ;
}

/* padding bottom */

.pb-a, .py-a {
  padding-bottom: auto ;
}
.pb-05, .py-05 {
  padding-bottom: .5rem ;
}
.pb-1, .py-1 {
  padding-bottom: .75rem ;
}
.pb-2, .py-2 {
  padding-bottom: 1rem ;
}
.pb-3, .py-3 {
  padding-bottom: 1.5rem ;
}
.pb-4, .py-4 {
  padding-bottom: 2rem ;
}
.pb-5, .py-5 {
  padding-bottom: 2.5rem ;
}
.pb-6, .py-6 {
  padding-bottom: 3rem ;
}
.pb-7, .py-7 {
  padding-bottom: 3.5rem ;
}
.pb-8, .py-8 {
  padding-bottom: 4rem ;
}
.pb-9, .py-9 {
  padding-bottom: 4.5rem ;
}
.pb-10, .py-10 {
  padding-bottom: 5rem ;
}

