<div class="theme-menu dropdown mx-1"> 
    <div class="action">
        <img src="{{ .Site.BaseURL }}icons/general/dark-theme.svg" class="icons" width="22" height="22" alt="dark mode icons">
    </div>
    <div class="menu dnone">
        <div class="item" data-themeset="auto"><span class="check"></span>  Automatic </div>
        <div class="item" data-themeset="dark"><span class="check"></span>  Dark Theme </div>
        <div class="item" data-themeset="light"><span class="check"></span> Light Theme </div>
    </div>
</div>