<div class="theme-mode">
    <div class="action">
        <img src="icons/light-mode.svg" class="theme-action light" width="22" height="22">
        <img src="icons/dark-mode.svg"  class="theme-action dark"  width="22" height="22">
    </div>
    <div class="menu dnone">
        <div class="mode" data-themeset="auto"><span class="check"></span> Automatic </div>
        <div class="mode" data-themeset="dark"><span class="check"></span> Dark Theme </div>
        <div class="mode" data-themeset="light"><span class="check"></span> Light Theme </div>
    </div>
</div>